:root {
    --vp-c-brand-1: #2ECC71;
    --vp-c-brand-2: #2CB667;
    --vp-c-brand-3: #2BA05C;
    --vp-c-brand-soft: #bbebcf;
    --vp-custom-block-tip-code-bg: #004e21;
}

.dark {
    --vp-c-bg: #1e221f;
    --vp-c-bg-alt: #141815;
    --vp-c-bg-elv: #313131;
    --vp-c-bg-soft: #2a382f;
    --vp-c-brand-1: #2ECC71;
    --vp-c-brand-2: #2CB667;
    --vp-c-brand-3: #2BA05C;
    --vp-c-brand-soft: #198d49;
}